apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2022-10-20T10:35:13Z"
  finalizers:
  - service.kubernetes.io/load-balancer-cleanup
  labels:
    app: rest-api
  name: rest-api
  namespace: default
  resourceVersion: "233349"
  uid: 409ac3a3-8757-4e71-9531-bd6d1d11c3c4
spec:
  allocateLoadBalancerNodePorts: true
  clusterIP: 10.0.103.113
  clusterIPs:
  - 10.0.103.113
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - nodePort: 32364
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: rest-api
  sessionAffinity: None
  type: LoadBalancer
status:
  loadBalancer:
    ingress:
    - ip: 20.81.9.152